includes:
  - phpstan-baseline.neon

parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    - '#^Method Smpl\\Collections\\Sequence\:\:create\(\) should return Smpl\\Collections\\Sequence\<P\> but returns Smpl\\Collections\\Sequence\<mixed\>\.$#'
